body {
    margin: 0;
    background-color: #001489;
}


.header {
    margin-bottom: 5px;
    padding: 1%;
    padding-right: 0;
    padding-left: 0;
    width: 100%;
    background-color: #9FC2CC;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header p {
    margin-left: 20px;
    font-size: x-large;
}

#slider {
    width: 30%;
    height: 15px;
    border-radius: 5px;
    appearance: none;
    background: #001489;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

#slider:hover {
    opacity: 1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FFDD00;
    cursor: pointer;
}

span {
    font-size: x-large;
}

#selectedCountryLine {
    font-size: large;
}

.sex-selector input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.male {
    background-image: url(Male3.png);
}

.female {
    background-image: url(Female3.png);
}

.total {
    background-image: url(Total.png);
}

.sex-selector input:active+.icon {
    opacity: .9;
}

.sex-selector input:checked+.icon {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.icon {
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 80px;
    height: 70px;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.5);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.5);
    filter: brightness(1.8) grayscale(1) opacity(.5);
}

.icon:hover {
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(.9);
}

.age-selector {
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
}

.age-selector p {
    margin-right: 5px;
}

.age-selector select {
    background-color: #9FC2CC;
    font-size: x-large;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 20px;
}

.bar-chart p {
    color: #FFDD00;
    margin-left: 20px;
    margin-right: 20px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#sort-switch:focus+.slider,
#sort-switch:checked+.slider{
    background-color: white;
    box-shadow: 0 0 1px white;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.svg-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-around;
}

.map-container svg {
    margin-top: 10px;
    cursor: pointer;
}

.map-container p {
    color: #FFDD00;
}

.chart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
}

.bar-chart,
.line-chart {
    display: flex;
    flex-direction: column;
}

.countryPicker {
    margin-top: 20px;
}

.countryPicker p{
    color: #FFDD00;
    text-align: center;
    font-size: larger;
}

svg {
    border: #FFDD00 2px solid;
}

.yaxis text,
.xaxis text,
.line-xaxis text,
.line-yaxis text {
    fill: #FFDD00;
}

.yaxis line,
.xaxis line,
.line-xaxis line,
.line-yaxis line,
.domain {
    stroke: #FFDD00;
}

#popup {
    position: absolute;
    height: 15px;
    padding: 3px;
    border: #001489 2px solid;
    border-radius: 2px;
    background: #9FC2CC;
    display: none;
}